<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/main.js"></script>

<!-- Add any custom scripts -->

<!-- <script type="text/javascript" src="/js/parsley.min.js" defer='defer'></script> -->

<!--<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.js">
</script>-->



<!--<script src="/js/nested-list.min.js">
</script>-->



<script type="text/javascript">
  $('.showhiddeninfo').on("click", function () {
    $('.hidden-info').fadeIn();
    $(this).fadeOut();

});
</script>



<!--<script type="text/javascript">

	$('input#servicetype').keypress(function() {
      $('#hiddenlist').css("visibility","visible");
      $('#nhsuk-footer').css("visibility","hidden");
      $('html').css("height","100%");
      $(this).focus();
    });

  var selected = [];

  $('#hiddenlist input:checked').each(function() {
      selected.push($(this).attr('name'));
  });
  console.log(selected);

var options = {
  valueNames: [ 'name' ]
};

var serviceList = new List('services', options);

</script>-->


<script type="text/javascript">
	$(function(){
			
			var options = {
			  valueNames: ['searchable'],
			  
			  nestedSearch: true
			};
			var userList = new List('users', options);
		})

</script>


<script type="text/javascript">
	
$(document).ready(function () {

$('#nhsuk-footer').css("display","none");


var labels = $('#service-list-container label');  // cache this for better performance

$('input#servicetype').keypress(function() {
      $('#service-list-container').css("visibility","visible");
      $('html').css("height","100%");
      $(this).focus();
    });

$('#servicetype').keyup(function() {
  var valThis = $(this).val().toLowerCase();

  
  if (valThis == "") {
    labels.parent().hide();          // show all lis
  } else {
    labels.each(function() {
      var label = $(this);                    // cache this
      var text = label.text().toLowerCase();
      if (text.indexOf(valThis) > -1) {
      	//label.addClass('vis');
        label.parents('li').show()           // show all li parents up the ancestor tree
      } else {
       //label.removeClass('vis');
       label.parent().hide();                // hide current li as it doesn't match
      }
    });
  };
});


 
});

</script>

