<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/main.js"></script>

<!-- Add any custom scripts -->

<!-- <script type="text/javascript" src="/js/parsley.min.js" defer='defer'></script> -->

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.js">
</script>



<!--<script src="/js/nested-list.min.js">
</script>-->



<script type="text/javascript">
  $('.showhiddeninfo').on("click", function () {
    $('.hidden-info').fadeIn();
    $(this).fadeOut();

});
</script>



<script type="text/javascript">

	$('input#servicetype').keypress(function() {
      $('#hiddenlist').css("visibility","visible");
      $('#nhsuk-footer').css("visibility","hidden");
      $('html').css("height","100%");
      $(this).focus();
    });

  var selected = [];

  $('#hiddenlist input:checked').each(function() {
      selected.push($(this).attr('name'));
  });
  console.log(selected);

var options = {
  valueNames: [ 'name' ]
};

var serviceList = new List('services', options);

</script>


<!--<script type="text/javascript">
	$(function(){
			
			var options = {
			  valueNames: ['searchable'],
			  
			  nestedSearch: true
			};
			var userList = new List('users', options);
		})

</script>-->

  <script type="text/javascript">
    $( document ).ready( servicetypesearch );
  </script>
 


