<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/main.js"></script>

<!-- Add any custom scripts -->

<!-- <script type="text/javascript" src="/js/parsley.min.js" defer='defer'></script> -->

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.js"></script>

<script type="text/javascript">
	var options = {
	  valueNames: [ 'name', 'synonym', 'synonym1', 'synonym2', 'synonym3','synonymm' ]
	};

	var serviceList = new List('services', options);

	console.log('loaded services list');
</script>








<script type="text/javascript">
  $('.showhiddeninfo').on("click", function () {
    $('.hidden-info').fadeIn();
    $(this).fadeOut();

});
</script>



<script type="text/javascript">
	
$(document).ready(function(){

  $('input#servicetype').keypress(function() {
      $('#hiddenlist').css("visibility","visible");
      $('#nhsuk-footer').css("visibility","hidden");
      $('html').css("height","100%");
      $(this).focus();
    });

  var selected = [];

  $('#hiddenlist input:checked').each(function() {
      selected.push($(this).attr('name'));
  });
  console.log(selected);

});



$('#servicetype').on('focus', function() {
    document.body.scrollTop = $(this).offset().top;
});


</script>