// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////



// a few utilities to hide things on x devices

@media screen and (max-width: 640px) {
.hide-mobile {
  display: none;
  }
}
@media (min-width: 641px) {
.hide-desktop {
  display: none;
  }
}


// for those long titles you don't want to stretch all over the screen
.long-fix {
  max-width: 630px;
}
// and for when you do
.short-fix {
  overflow: visible;
  width: 880px
}



// overiding a few style things 

h3 {
margin: 0.75em 0 0.25em 0 !important;
margin-block-start: 0;
margin-block-end: 0;
}

.nhsuk-hero--image .nhsuk-hero__overlay {
  background-color: rgba(0,0,0,0)!important;
}

.top-nav {
  position: relative;
  top:-14px;
  border-bottom: 2px rgba(0,0,0,0.15) solid;
  margin-bottom: 0.3em;
}
.start-over {
  float: right;
  background-image: url('/images/startover-bl.svg');
  background-repeat: no-repeat;
  background-size: 29px;
  background-position: -6px 1.4px;
  padding-left: 1.5em;
}
.start-over:hover {
  background-image: url('/images/startover-bk.svg');
}




// hack the hero image size, we don't need such a tall one for pro users?

@media only screen and (min-width: 40.0625em) {
  .nhsuk-hero--image {
      /* [4] */
      min-height: 140px;
      /* [5] */
  }
  .nhsuk-hero--image .nhsuk-hero__overlay {
      height: 200px;
      /* [6] */
}}
@media screen and (-ms-high-contrast: active) {
  .nhsuk-hero--image {
      min-height: 0;
      /* [12] */
}}
.nhsuk-hero--image .nhsuk-hero__overlay {
  background-color: rgba(0, 47, 92, 0.1);
  /* [7] */
}
@media only screen {
  .nhsuk-hero--image .nhsuk-hero__overlay {
      /* [4] */
      min-height: 200px;
      /* [6] */
}}
@media screen and (-ms-high-contrast: active) {
  .nhsuk-hero--image .nhsuk-hero__overlay {
      height: auto;
      /* [12] */
      min-height: 0;
      /* [12] */
}}





// I don't want the tables, used for opening hours to have the big margins

table {
  margin-bottom: 0;
  margin-top: 0;
  border-spacing: 0;
  vertical-align: top;
  width: 100%;
  }
  @media (min-width: 40.0625em) {
    table {
      margin-bottom: 0; } }
  @media (min-width: 40.0625em) {
    table {
      margin-top: 0; } }



@media screen and (max-width: 640px) {
.hide-mobile {
display: none;
}
}
@media (min-width: 641px) {
.hide-desktop {
display: none;
}
}




// Some styles for the end-of-journey

.ending {
  background-color: #425563;
  color: white;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.3);
  margin-bottom: 2em;
  padding:1em 2em 0.125em 2em;
}



// Some items for the List.js autocomplete on the service type search //
.synonym-container {
margin-top:0.25em;
}
.phone-list {
position: relative;
top:150px;
}
.phone-list li {
list-style: none;
list-style-type: none;
}
label.synonym  {
  float: left;
  margin-right: 10px;
}



.synonym1 {
margin-left:0.5em;
}
.synonym, .synonym1, .synonym2, .synonym3, .synonym4, .synonym5, .synonym6 {
display: inline-block;
background-color: #fe9;
border-radius: 3px;
padding: 0.2em 0.3em;
border:1px solid #cb0;
font-size:16px;
margin-bottom: 0.2em;
line-height: 1;
}

.synonymm {
display: inline-block;
border-radius: 3px;
padding: 0.1em 0.3em;
border:1px solid #ac0;
font-size:16px;
margin-bottom: 0.2em;
background-color: #df6;
}
.synon {
font-size: 1em;
color:#666;
}

.nhsuk-checkboxes__label {
line-height: 1.1 !important;
}



// some geolocate stuff

#locate {
text-decoration: none;
background-image: url('/images/location-arrow-blue.svg');
background-repeat: no-repeat;
background-size: 23px;
padding-left: 1.6em;
}
#dislocate {
text-decoration: none;
background-image: url('/images/location-arrow-outline.svg');
background-repeat: no-repeat;
background-size: 23px;
padding-left: 1.6em;
}
@media(max-width: 640px) {
#locate {
background-size: 18px;
}
#dislocate {
background-size: 18px;
}
}


// / / / / / / / / / / / / / / / / / / / / / / /  //
// lots of styles for the results list and detail //
// / / / / / / / / / / / / / / / / / / / / / / /  //

.results-summary p {
font-size: 16px;
}
.results-list {
padding-left: 0;
}
.results-list p {
font-size: 16px;
}
li.result {
list-style: none;
background-image: url('/images/blue-right-arrow.svg');
background-repeat: no-repeat;
background-position: right 8px center;
background-size: 16px;
border-bottom: 1px solid #999;
padding: 10px 0;
margin-bottom: 0;
line-height: 1.5;
}

.result-source {
color:#666;
}
.results-list a {
text-decoration: none;
color: inherit;
}
li.result p:first-child {
width: 100%;
}
li.result p {
width: 91%;
margin:0;
}
li.lastresult {
background-image: none;
border-bottom: none;
padding-bottom: 2em;
}

.results-list a:active li {
background-color: #ff8;
}

.results-footer {
height :100px;
width: 100%;
background-color: #666;
}



.result-distance {
display: inline-block;
width: 80px;
font-weight: 600;
}
.result-title {
max-width: 400px;
text-decoration: none;
}
.result-title a {
text-decoration: none;
}
.result-type {
font-weight: 600;
text-transform: uppercase;
color: #888;
}
.profile-section {
}


dd {
margin-inline-start: 0;
}
dt {
font-weight: 600;
}
dl, dt, dd {
font-size: 19px;
}

.opening-hours dt {
display: inline-block;
width:11em;
}
.opening-hours dd {
display: inline-block;
}
#opening-hours h3 {
margin-bottom: 0;
}



#hours-table tr, #hours-table td {
border: none;
padding: 0.25em 0;
vertical-align: top;
}



.service-details dt {
font-weight: 600;
margin-top: 0.5em;
}
.service-details dd {
display: inline-block;
}
#phone-result-content {
overflow: scroll;
height: 600px;
}
.service-information {
max-width: 630px;
line-height: 1.5;
}
.phone-number  {
text-decoration: none;
}



.open-now {
font-weight: 600;
background-image: url('/images/blob-green.svg');
background-repeat: no-repeat;
background-size: 12px;
background-position: top 4px left;
padding-left: 18px;
color: #555;
line-height: 1.5;
}
.open-soon {
font-weight: 600;
background-image: url('/images/blob-amber.svg');
background-repeat: no-repeat;
background-size: 12px;
background-position: top 4px left;
padding-left: 18px;
color: #555;
line-height: 1.5;
}
.closed-now {
font-weight: 600;
background-image: url('/images/blob-red.svg');
background-repeat: no-repeat;
background-size: 12px;
background-position: top 4px left;
padding-left: 18px;
color: #555;
line-height: 1.5;
}
.open-unknown {
font-weight: 600;
color: #555;
line-height: 1.5;
}


.showhiddeninfo {
font-size: 19px;
}