<div class="nhsuk-care-card nhsuk-care-card--non-urgent sticky-card">
        <div class="nhsuk-care-card__heading-container" style="margin-top:0;padding-top:3px">
          <h3 class="nhsuk-care-card__heading" style="margin-top:0;padding-top:0"><span role="text"><span class="nhsuk-u-visually-hidden">Actions </span>Actions for this service</span></h3>
          <span class="nhsuk-care-card__arrow" aria-hidden="true"></span>
        </div>

        <div class="nhsuk-care-card__content">

          <p style="margin-bottom: 0.5em">
            If you send a patient to use this service, please record the action here. You'll have the option to take a reference number if you need one. 
          </p>

          <a class="nhsuk-button" href="service-direct">
            Direct a patient to this service
          </a>


          <p style="padding-top:1.5em;border-top: 2px solid #ddd">
            <a class="nhsuk-button nhsuk-button--secondary" href="service-email-patient" style="width:30%;float:left;margin-right: 1em">
            Send an email
          </a>
            Send an email to the patient, with only the public details included.
          </p>
              
          <br clear="all">

          <p>
            <a class="nhsuk-button nhsuk-button--secondary" href="service-feedback-details" style="width:30%;float:left;margin-right: 1em">Send feedback</a>
            Tell us about a problem with the information, so we can correct it.
          </p>

          <br clear="all">

          <p>
            <a class="nhsuk-button nhsuk-button--secondary" href="service-feedback-refer" style="width:30%;float:left;margin-right: 1em">Report issues</a>
            Tell us about issues getting the service to accept your patient, so we can improve it.
          </p>

          <br clear="all">

        </div>
      </div>