<!-- 
ADDING CUSTOM CSS
Add your custom CSS/Sass to /app/assets/sass/main.scss
-->


<!-- Extends the layout from /docs/views/layouts/layout.html -->
{% extends 'layouts/layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        NHS.UK prototype kit
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">Version {{version}}</span>
      </h1>

      <!-- Add your content here -->

      

      <h2 class="nhsuk-heading-m">
        Prototypes
      </h2>

     
      
      <p>
        1. Log in <a href="service-finder-login">with a SF/DoS username + password pair</a>.
      </p>

      <p>
        2. Service Finder <a href="service-finder">start page with links</a>.
      </p>

      <p>
        3. Service search, <a href="service-search">field input with autocomplete, synonyms</a>.
      </p>

      <p>
        4. Service search, <a href="service-search-suggest">multiple select confirmation and contextual suggestions</a>.
      </p>

      <p>
        5. Location search, <a href="service-location">find places with Google API + geolocate here</a>.
      </p>

      <p>
        6. Patient GP question, <a href="service-gp-yesno">sometimes required, yes or no</a>.
      </p>

      <p>
        7. Patient GP search, <a href="service-gp-search">find it on the autocomplete</a>.
      </p>

      <p>
        8. Patient info, <a href="service-patient-info">often not needed - age, sex</a>.
      </p>

      <p>
        9. Results list, <a href="service-results">end of search flow = service information filters, maps, content, action menu, etc</a>.
      </p>

      <p>
        10a. Send an email, <a href="service-email-patient">to the patient with the public info</a>.
      </p>

      <p>
        10b. Feedback, <a href="service-feedback-refer">if referral process is not as it should be</a>.
      </p>

      <p>
        10c. Feedback, <a href="service-results">if something with the info is wrong</a>.
      </p>

      <p>
        11. Direct a patient, <a href="service-direct">a proper completion page, audit code, etc</a>.<sup style="font-weight: 900;color:#3a0">NEW</sup>
      </p>

      <p>
        You can also find the code for an <a href="/page-example">example page</a> at <strong>/app/views/page-example.html</strong>, which includes a selection of NHS.UK frontend styles and components.
      </p>

      <h2 class="nhsuk-heading-m">
        Documentation
      </h2>

      <ul>
        <li>
          Get started with <a href="/docs">how to guides and page templates</a>
        </li>
        <li>
          Copy and paste styles and component code snippets from the <a href="https://beta.nhs.uk/service-manual/styles-components-patterns">NHS digital service manual</a>
        </li>
      </ul>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
