{% extends 'layouts/layout-search.html' %}

{% block pageTitle %}
  Service Finder Beta
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row top-nav hide-mobile">
    <div class="nhsuk-grid-column-one-half">
      {{ backLink({
        "href": "service-gp-yesno",
        "text": "Back to patient GP"
      }) }}
    </div>

    <div class="nhsuk-grid-column-one-half">
      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link start-over" href="#">
        Start over</a>
      </div>
    </div>
  </div><!-- end nav topline -->


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">

      <h1 class="nhsuk-fieldset__legend--l short-fix">
        Patient's GP
      </h1>

      <form action="/services" data-parsley-validate method="get" autocomplete="off" onkeypress="return event.keyCode != 13;">

        <div id="parsely-error-field" style="font-size: 1.2em"></div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="servicetype" style="overflow: visible;width: 660px;margin-bottom: 24px">
            Start typing to search for available GP practices<br>
            <span class="nhsuk-hint" id="example-hint">
              You can search by name or partial address.<br>
              For example: Springfield Medical Centre or Long Pine Road.
            </span>
          </label>
          <input class="nhsuk-input search" id="servicetype" name="servicetype" value="{{ data['servicetype'] }}" type="text" data-parsley-trigger="change">
          <!--
            <input class="search" name="forminput" id="forminput" data-parsley-trigger="change"/> -->
        </div>

        

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

      
    </div>

    <div class="nhsuk-grid-column-two-thirds">



      <div id="service-list-container nhsuk-radios">

        <ul class="list phone-list first-level" id="service-list-container" style="top:176px;min-height: 500px;visibility: hidden;">


          
          
        <li class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="gp-g1" type="radio" name="selectedgp" value="Benchill Medical Practice - South Manchester">

          <label for="gp-g1" class="nhsuk-label nhsuk-radios__label name">Benchill Medical Practice - South Manchester</label>
        
        </li>

        <li class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="gp-g2" type="radio" name="selectedgp" value="RK Medical Practice - South Manchester">

          <label for="gp-g2" class="nhsuk-label nhsuk-radios__label name">RK Medical Practice - South Manchester</label>
        
        </li>

        <li class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="gp-g3" type="radio" name="selectedgp" value="Cornishway Group Practice - South Manchester">

          <label for="gp-g3" class="nhsuk-label nhsuk-radios__label name">Cornishway Group Practice - South Manchester</label>
        
        </li>

        <li class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="gp-g4" type="radio" name="selectedgp" value="Peel Hall Medical Practice - South Manchester">

          <label for="gp-g4" class="nhsuk-label nhsuk-radios__label name">Peel Hall Medical Practice - South Manchester</label>
        
        </li>

        <li class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="gp-g5" type="radio" name="selectedgp" value="The Maples Medical Centre - South Manchester">

          <label for="gp-g5" class="nhsuk-label nhsuk-radios__label name">The Maples Medical Centre - South Manchester</label>
        
        </li>

        <li class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="gp-g6" type="radio" name="selectedgp" value="Bowland Medical Practice - South Manchester">

          <label for="gp-g6" class="nhsuk-label nhsuk-radios__label name">Bowland Medical Practice - South Manchester</label>
        
        </li>

        <li class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="gp-g7" type="radio" name="selectedgp" value="Tregenna Group Practice - South Manchester">

          <label for="gp-g7" class="nhsuk-label nhsuk-radios__label name">Tregenna Group Practice - South Manchester</label>
        
        </li>

        <li class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="gp-g8" type="radio" name="selectedgp" value="Gatley Green Surgery (Branch Surgery of NGP) - South Manchester">

          <label for="gp-g8" class="nhsuk-label nhsuk-radios__label name">Gatley Green Surgery (Branch Surgery of NGP) - South Manchester</label>
        
        </li>

        <li class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="gp-g9" type="radio" name="selectedgp" value="Gatley Medical Centre - Stockport">

          <label for="gp-g9" class="nhsuk-label nhsuk-radios__label name">Gatley Medical Centre - Stockport</label>
        
        </li>

        <li class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="gp-g10" type="radio" name="selectedgp" value="Northenden Group Practice - South Manchester">

          <label for="gp-g10" class="nhsuk-label nhsuk-radios__label name">Northenden Group Practice - South Manchester</label>
        
        </li>



      </ul>

    </div>
  </div>

{% endblock %}
