{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
  Service Finder Beta
{% endblock %}

{% block content %}




  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-fieldset__legend--l short-fix">
        Log in
      </h1>

     
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="input-with-hint-text">
          Email address
        </label>
        <span class="nhsuk-hint" id="input-with-hint-text-hint">
          
        </span>
        <input class="nhsuk-input" id="input-with-hint-text" name="test-name-2" type="text" aria-describedby="input-with-hint-text-hint">

        


        <label class="nhsuk-label" for="input-with-hint-text" style="margin-top: 1em">
          Password
        </label>
        <span class="nhsuk-hint" id="input-with-hint-text-hint">
          
        </span>
        <input class="nhsuk-input" id="input-with-hint-text" name="test-name-2" type="text" aria-describedby="input-with-hint-text-hint">




      </div>

      <br clear="all">

        

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

      
    </div>

    <div class="nhsuk-grid-column-one-third">

      <h3 class="nhsuk-heading-m">Problems logging in?</h3>

      <br clear="all">

      <p>I don't have a log in<br>
        <a href="#">Apply for one using this form</a>
      </p>


      <p>I've forgotten my password<br>
        <a href="#">Reset your password here</a>
      </p>


      <p>I've forgotten my username<br>
        <a href="#">Reset your account here</a>
      </p>

      

    </div>
  </div>

{% endblock %}
