{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
  Service Finder Beta
{% endblock %}

{% block content %}




  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-fieldset__legend--l short-fix">
        Log in
      </h1>

     
      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="input-with-hint-text">
          Email address
        </label>
        <span class="nhsuk-hint" id="input-with-hint-text-hint">
          
        </span>
        <input class="nhsuk-input" id="input-with-hint-text" name="test-name-2" type="text" aria-describedby="input-with-hint-text-hint">

        


        <label class="nhsuk-label" for="input-with-hint-text" style="margin-top: 2em">
          Password
        </label>
        <span class="nhsuk-hint" id="input-with-hint-text-hint">
          
        </span>
        <input class="nhsuk-input" id="input-with-hint-text" name="test-name-2" type="text" aria-describedby="input-with-hint-text-hint">

        <p style="margin: 2em 0 0.5em 0">Show or read to patient:</p>

        <div class="nhsuk-checkboxes__item">
          <input class="nhsuk-checkboxes__input" id="email-consent" type="checkbox" name="email-consent" data-parsley-required data-parsley-required-message="Tick to continue or press back" data-parsley-errors-container="#parsely-error-field" value="Email OK">

          <label for="email-consent" class="nhsuk-label nhsuk-checkboxes__label">You give consent to use your email this one time</label>
        </div>



      </div>

        

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

      
    </div>

    <div class="nhsuk-grid-column-one-third">

      

    </div>
  </div>

{% endblock %}
