{% extends 'layouts/layout-transactional.html' %}

{% block pageTitle %}
  Service Finder Beta
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row top-nav hide-mobile">
    <div class="nhsuk-grid-column-one-half">
      {{ backLink({
        "href": "javascript: history.go(-1)",
        "text": "Back"
      }) }}
    </div>

    <div class="nhsuk-grid-column-one-half">
      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link start-over" href="#">
        Start over</a>
      </div>
    </div>
  </div><!-- end nav topline -->


  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="ending">
        <h1 class="nhsuk-fieldset__legend--l">
          Thank you
        </h1>

        <h2 class="nhsuk-fieldset__legend--m">We have recorded that you have directed your patient to this service</h2>


      </div>

      <p><strong>Dentist - Sussex - Flint House Dental Practice - St Leonards on Sea</strong></p>

        
      <p>If you require a reference number to record this, use XYZ123023.</p>

      <p>You can also:
        <ul class="nhsuk-list nhsuk-list--bullet">
        <li><a href="service-email-patient">Send an email</a> with the public details for this service to a patient</li>
        <li><a href="service-feedback-details">Tell us about a problem</a> with the information, so we can correct it</li>
        <li><a href="service-feedback-refer">Tell us about difficulities</a> getting the service to accept your patient</li>
      </ul>




      </p>







      <p style="margin-top: 2.66em"><a href="service-results">Back to your search results</a></p>

        

        {{ button({
          "text": "Back to the start",
          "id": "btn_submit"
        }) }}

      </form>

      
    </div>

    <div class="nhsuk-grid-column-one-third">

      

    </div>
  </div>

{% endblock %}
